.social {
  display: flex;
  justify-content: space-around;

  .footer & {
    display: flex;
    justify-content: space-between;
  }
}

.social__heading {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--tertiary-text-color);

  @include font(14px, 700, 1.172);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--primary-link-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--time-function);

  &--bg-grey {
    background-color: var(--bg-link-color);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-text-color);
  }
}

.social__icon {
  fill: currentColor;

  .footer & {
    fill: var(--tertiary-text-color);
  }
}
