*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 60px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 80px;
  }

  font-family: var(--primary-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
a,
img,
button,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}
