:root {
  --primary-white-color: #ffffff;
  --first-bg-color: #e5e5e5;
  --secondary-bg-color: #f1f1f1;
  --primary-text-color: #111518;
  --second-text-color: #b9b9b9;
  --accent-color: #ff6b09;
  --main-font: 'Montserrat', sans-serif;
}
